<div class="bug content">
	<h2><%= bug.summary %> <small>(#<%= bug.id %>)</small></h2>
	<table class="table table-striped table-condensed table-bordered">
		<thead>
			<tr>
				<th>Status</th>
				<th>Reported by</th>
				<th>Created at</th>
				<th>Last updated</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= bug.status %></td>
				<td><%= bug.user.username %></td>
				<td><%= bug.createdAt %></td>
				<td><%= bug.updatedAt %></td>
			</tr>
		</tbody>
	</table>
	<h3>Description</h3>
	<div class="description">
		<%= bug.description %>
	</div>
</div>