<div class="bug content">
	<h2><%= bug.summary %> <small>(#<%= bug.id %>)</small></h2>
	<table class="table table-striped table-condensed table-bordered">
		<thead>
			<tr>
				<th>Status</th>
				<th>Reported by</th>
				<th>Created at</th>
				<th>Last updated</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= bug.status %></td>
				<td><%= bug.user.username %></td>
				<td><%= bug.createdAt %></td>
				<td><%= bug.updatedAt %></td>
			</tr>
		</tbody>
	</table>
	<h3>Description</h3>
	<div class="description well">
		<%= bug.description %>
	</div>
<% if (session.user && session.user.isAdmin) { %>
	<h3>Update Bug</h3>
	<form action="<%= requestedUrl %>/update" method="post" class="form-inline well">
		<label>Status</label>
		<select name="bug[status]" class="span2">
		<% ['New', 'Accepted', 'Fixed', 'Wont fix', 'Invalid'].forEach(function(op){ %>
			<option value="<%= op %>"<% if (op == bug.status) { %>selected<% } %>><%= op %></option>
		<% }); %>
		</select>
		<input type="submit" value="update" class="btn">
	</form>
<% } %>
</div>